<%= render "layouts/header" %>
<div class="stuff">
<h1>Bots</h1>
<% @post.each do |f| %>
<ul>
<div class="linephoto">
  <li><img src="<%= f.user.photo_id%>" alt=""/></li>
</div>

<li><%= link_to user_path(id: f.user.id) do %><%= f.user.email %><%end%></li>

  <small><li><%= f.content %> </li></small>


</ul>
<%end%>

</div>
