<%= render "layouts/header" %>
<div class="stuff">
<h1>Programs</h1>
<% @post.each do |f| %>
<ul>

<div class="peoples">

<div class="linephoto">
  <li><img src="<%= f.user.photo_id%>" alt=""/></li>
</div>

<li><%= link_to user_path(id: f.user.id) do %><%= f.user.email %><%end%></li>

  <small><li><%= f.content %> </li></small>

</div>

</ul>
<%end%>

</div>
<nav><%= paginate @users %></nav>
