<%= render "layouts/header" %>
<div class="container">
  <div class="col-md-2">
    <div class="image_profile">
      <img src="http://orig02.deviantart.net/3308/f/2012/020/b/4/chibi_wolverine_by_rose_annegagne-d4n31iv.jpg" alt="" class="img-rounded" style="width:150px;"/>
      <%= @current_user.email %>
    </div>
  </br>
  <div class="createposts">
<%= form_for @post do |f| %>
<%= f.text_area :content, as: :content, class:"newpost", placeholder:"Something new?"%>
<%= f.submit "Post it!", class: "newpostsubmit" %>
<%end %>

<% @current_user.posts.each do |post|%>
<li><%= post.content%></li>
  <strong><%= post.user.email%></strong>
<%end%>

</div>
  <ul>


    <% @current_user.following_users.each do |user| %>
    <li>
      <strong><%= user.email %></strong>
      <%= link_to "Unfollow", stop_follow_user_path(id: user.id), method: :post %>
    </li>
    <% end %>
  </ul>
</div>
</div>
